coverage==7.5.1
decorator==5.1.1
Django==5.0.3
django-debug-toolbar==4.3.0
django-utils-six==2.0
ipython==8.21.0
flake8==7.0.0
pillow==10.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
stripe==9.11.0
six==1.16.0

